<!DOCTYPE html>
<html lang="en">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

<section class="pt-32 mx-auto" style="max-width: 50%;">
  <div class="flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="https://raw.githubusercontent.com/rfyiamcool/golang_logo/master/png/golang_23.png" alt="logo">
      Status Token
    </a>
    <div class="w-full mb-4 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">

      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

        {{if .Status}}
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Status Token Aktif
        </h1>
        {{else}}
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Status Token Tidak aktif
        </h1>
        {{end}}
      </div>
    </div>
<!--    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">-->

<!--      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">-->

<!--        {{if .StatusBulk}}-->
<!--        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">-->
<!--          Status Token Bulk Aktif-->
<!--        </h1>-->
<!--        {{else}}-->
<!--        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">-->
<!--          Status Token Bulk Tidak aktif-->
<!--        </h1>-->
<!--        {{end}}-->
<!--      </div>-->
<!--    </div>-->
  </div>
</section>


</body>
</html>